html {
  font-family: "Noto Serif", serif;
}

.green {
  color: #70ad55;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border-color: #6e8c62;
}

.top {
  background-color: #70ad55;
  color: #fff;
}

.border {
  border-bottom: solid;
  border-color: #70ad55;
}

fieldset {
  border-color: #70ad55;
}

.comment {
  height: 10em;
}
