body {
  margin: 0;
}


.green {
  color: #70ad55;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

.apply {
  background-color: #6e8c62;
  color: #fff;
}

.top {
  background-color: #70ad55;
  color: #fff;
}
